* {
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  color: #6C7A89; }

.top {
  height: 100vh;
  position: relative;
  background-color: #f8f7f9;
  border: 2px solid orange;
  padding: 20px; }

.name {
  color: #6C7A89; }

h2.position {
  position: relative;
  top: 50%;
  width: 24em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden; }

/* Animation */
.position {
  animation: typewriter 4s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal; }

@keyframes typewriter {
  from {
    width: 0; }
  to {
    width: 24em; } }
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75); }
  to {
    border-right-color: transparent; } }
.intro {
  max-height: 60vh;
  max-width: 60vw;
  padding-top: 10vh;
  margin-left: 20px;
  text-align: left; }

.nav {
  text-align: right;
  margin-right: 5vw;
  font-size: 5vh; }

.nav li a {
  color: orange;
  text-decoration: none; }

.parralax {
  min-height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1518515344518-668eb0c53353?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c02d5bd8de279db1a2f74ea59f9283d&auto=format&fit=crop&w=750&q=80");
  background-attachment: fixed; }

.projects {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap; }

.work {
  background-image: url("https://images.unsplash.com/photo-1518515344518-668eb0c53353?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c02d5bd8de279db1a2f74ea59f9283d&auto=format&fit=crop&w=750&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.about-title {
  color: turquoise; }

.projects-title {
  color: pink;
  margin: 0 0 0 5vw; }

#about {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #f8f7f9;
  border: 2px solid turquoise; }

.about-content {
  max-width: 900px;
  min-width: 300px;
  padding: 20px;
  margin: 20px; }

.contact-title {
  color: orange;
  padding-left: 5vw; }

.contact {
  display: flex;
  position: relative;
  background-color: #f8f7f9;
  border: 2px solid orange; }

.contact-content {
  text-align: right;
  max-width: 900px;
  min-width: 300px;
  padding: 20px;
  margin: 20px; }

.contact-photo img {
  padding: 35px;
  margin: 20px;
  max-width: 40vw;
  max-height: 40vh;
  text-align: left;
  border-radius: 50%; }

.project {
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #f8f7f9; }

.project-title {
  font-size: 20px;
  padding-left: 5px;
  padding-right: 20px; }

.project-1 {
  color: yellow; }

.project-1:hover {
  border-bottom: 5px solid yellow; }

.project-2 {
  color: pink; }

.project-2:hover {
  border-bottom: 5px solid pink; }

.project-3 {
  color: turquoise; }

.project-3:hover {
  border-bottom: 5px solid turquoise; }

.project-4 {
  color: orange; }

.project-4:hover {
  border-bottom: 5px solid orange; }

h1 {
  font-size: 7vw; }

h2 {
  font-size: 5vw; }

ul {
  list-style: none; }

/*# sourceMappingURL=style.css.map */
