.nav {
  background-color: #333;
  height: 100vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1; }
  .nav li {
    font-size: 3vh; }
  .nav li a {
    text-decoration: none;
    color: white; }
  .nav ul {
    max-width: 100%;
    max-height: 100%; }

.nav #menu li a:hover {
  border-bottom: 3px solid yellow; }

.nav #menu {
  margin-top: 40%; }

.nav #logos li a:hover {
  color: yellow; }

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }

html {
  background-color: yellow; }

body {
  margin: 0px; }

h1 {
  font-size: 5vw; }

h2 {
  font-size: 3vw; }

ul {
  list-style: none; }

.top {
  height: 100vh;
  background-color: #e1dbf5;
  margin: 0 auto;
  color: #333;
  width: 100%; }

span {
  color: yellow; }

.intro {
  max-height: 60vh;
  max-width: 60vw;
  padding-top: 10vh;
  margin-left: 20px;
  text-align: left; }
  .intro h2 {
    border-bottom: 3px solid yellow;
    max-width: 38%; }

.parralax {
  min-height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1518515344518-668eb0c53353?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c02d5bd8de279db1a2f74ea59f9283d&auto=format&fit=crop&w=750&q=80");
  background-attachment: fixed; }

#about {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: white; }
  #about p {
    font-family: "Open Sans", sans-serif; }
  #about h1 {
    color: #333;
    border-top: 5px solid #e1dbf5;
    margin-left: 8%; }
  #about .profile-picture img {
    max-width: 80%;
    max-height: 80%;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    display: flex;
    margin-top: 20%; }

.about-content {
  max-width: 900px;
  min-width: 300px;
  padding: 20px;
  margin: 20px; }

#skills {
  background-color: #333;
  color: white;
  max-width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }
  #skills ul {
    margin-bottom: 0px;
    padding-bottom: 20px; }
  #skills li {
    display: inline-block;
    width: 15%;
    text-align: center;
    margin: 5px; }
  #skills li:hover {
    animation-name: pulse;
    animation-duration: 1s; }
  #skills li i {
    font-size: 60px;
    color: yellow;
    display: block; }
  #skills img {
    width: 100px;
    height: 60px;
    vertical-align: middle;
    margin: 0 auto;
    display: block; }
  #skills h1 {
    text-align: left;
    color: white;
    margin-top: 0px;
    border-top: 5px solid #e1dbf5;
    max-width: 15%;
    margin-left: 8%; }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.work {
  background-color: #e1dbf5; }
  .work h1 {
    color: #333;
    margin: 0 0 0 5vw;
    padding-top: 20px;
    padding-left: 2%; }

.projects {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap; }

.project {
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: white;
  color: #333; }
  .project p {
    padding-top: 10px; }
  .project h2 {
    min-height: 54px;
    margin-top: 40px;
    margin-bottom: 40px; }
  .project h5 {
    font-size: 15px;
    font-weight: 400;
    padding-top: 10px;
    border-top: 2px solid yellow; }

.space-invaders h2 {
  font-family: Cosmic alien;
  color: #333;
  font-size: 40px;
  margin-top: 50px; }
.space-invaders h5 {
  margin-top: 50px; }
.space-invaders .highlight {
  margin-top: 45px; }

.canvas h2 {
  font-family: 'Pacifico', cursive;
  color: #333;
  font-size: 40px; }
.canvas .highlight {
  margin-top: 20px; }

.in-my-fridge h2 {
  font-family: 'Leckerli One', cursive;
  color: #333;
  font-size: 40px; }
.in-my-fridge p {
  padding-top: 30px; }
.in-my-fridge .highlight {
  margin-top: 30px; }
.in-my-fridge h5 {
  margin-top: 30px; }

.chapter h2 {
  font-family: 'Overpass Mono', monospace;
  color: #333;
  font-size: 40px;
  padding-bottom: 30px;
  margin-top: 50px; }
.chapter .highlight {
  margin-top: 52px; }

#contact {
  display: flex;
  position: relative;
  background-color: #333;
  color: white;
  padding-left: 8%; }
  #contact h1 {
    border-top: 5px solid #e1dbf5; }
  #contact li {
    font-size: 20px; }
  #contact li a {
    text-decoration: none;
    color: white; }
  #contact i {
    color: yellow; }
  #contact ul {
    padding-left: 0px; }

@media only screen and (max-width: 600px) {
  .project {
    width: 100%;
    position: relative; }
    .project p {
      font-size: 15px; }

  #about .profile-picture img {
    display: none; }

  .about-content {
    min-width: 400px; }

  .top {
    max-height: 600px; }

  .nav {
    max-height: 600px; }
    .nav ul {
      padding-left: 3px; }

  #contact i {
    display: none; } }

/*# sourceMappingURL=style.css.map */
