@import 'helpers/variables';
@import 'partials/navbar';

* {
  // box-sizing: border-box;
  font-family: $font-primary;
}
h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

ul {
  list-style: none;
}

.top {
  height: 100vh;
  position: relative;
  background-color: $primary;
  padding: 20px;
  margin: 0 auto;
  color: $secondary;
}

span {
  color: $quarternary;
}

.intro {
  max-height: 60vh;
  max-width: 60vw;
  padding-top: 10vh;
  margin-left: 20px;
  text-align: left;
  h2 {
    border-bottom: 3px solid $quarternary;
    max-width: 60%;
  }
}

.nav {
  margin-left: 70vw;
  font-size: 5vh;
  li a {
    text-decoration: none;
    color: $secondary;
  }
}

.nav li a:hover {
  border-bottom: 3px solid $quarternary;
}

.parralax {
  min-height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://images.unsplash.com/photo-1518515344518-668eb0c53353?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5c02d5bd8de279db1a2f74ea59f9283d&auto=format&fit=crop&w=750&q=80');
  background-attachment: fixed;
}

.projects {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
}

.work {
  background-color: $primary;
  h1 {
    color: $secondary;
    margin: 0 0 0 5vw;
  }
}

#about {
  display: flex;
  justify-content: center;
  position: relative;
  p {
    font-family: $font-secondary;
  }
  h1 {
    color: $secondary;
    border-top: 3px solid $primary;
  }
}


.about-content {
  max-width: 900px;
  min-width: 300px;
  padding: 20px;
  margin: 20px;
}

#skills {
  background-color: $secondary;
  color: $tertiary;
  max-width: 100%;
  text-align: center;
  padding-top: 20px;
  ul {
    margin-bottom: 0px;
    padding-bottom: 20px;
  }
  li {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 5px;
  }
  li i {
  font-size: 60px;
  color: $quarternary;
  display: block;
  }
  img {
    width: 100px;
    height: 60px;
    vertical-align: middle;
    margin: 0 auto;
    display: block;
  }
  h1 {
    text-align: left;
    color: $tertiary;
    margin-top: 0px;
    border-top: 3px solid $primary;
    max-width: 15%;
    margin-left: 8%;
  }
}



#contact {
  display: flex;
  position: relative;
  h1 {
      border-top: 5px solid $primary;
  }
}

.contact-content {
  margin-left: 5vw;
}

.profile-picture {
  margin-left: 30%;
  img {
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 100%;
  }
}

.project {
  max-width: 500px;
  min-width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: $tertiary;
  color: $secondary;
  h1:hover {
    border-bottom: 5px solid $tertiary;
  }
  h5 {
    border-top: 2px solid $quarternary;
    font-size: 18px;
  }
}

.project:hover {
  background-color: $secondary;
  color: $tertiary;
}
